<html>
	<head>
		<title>Pomyślnie załaldowano!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/167985-last/resources/jquery.mobile/jquery.mobile-1.4.5.css">
		<!--link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/1412922/jquery.mobile/jquery.mobile-1.4.5.css"-->
		
		<link rel="stylesheet" href="themes/NightDay.css"/>
		<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />			
		
		<script src="https://s3.eu-central-1.amazonaws.com/167985-last/resources/jquery/jquery-1.11.2.js"></script>
		<!--script src="https://dl.dropboxusercontent.com/u/1412922/jquery.mobile/jquery-1.11.2.js"></script-->   
				
		<script src="https://s3.eu-central-1.amazonaws.com/167985-last/resources/jquery.mobile/jquery.mobile-1.4.5.js"></script>
		<!--script src="https://dl.dropboxusercontent.com/u/1412922/jquery.mobile/jquery.mobile-1.4.5.js"></script-->
		

	</head>
	<body>		
		<div data-role="page" id="mainPage">
			<div data-role="header">
			<h1>Pomyślnie załadowano!</h1>
			</div>
		  
			<div data-role="main" class="ui-content">
				<center>	
					<a href="../" data-transition="slidefade" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left" >Powrót</a>					
				<center>
			</div>
		  		  
			<div data-role="popup" id="ErrorPopup">
				<a href="#" id="ErrorPopupButton" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-alert ui-btn-icon-left" data-rel="back" data-direction="reverse">tresckomunikatu</a>
			</div>			  
		</div> 	
	</body>
</html>